
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 12px;
  }

  
  #first-div {
    background-color: #000;
    min-height: 100vh;
  }
  
  #first-div-title {
    padding-top:120px ;
    font-size: 4em;
    color: #fff;
    text-align: center;
    font-family: 'Lora', serif;
  }
  
  #first-div-subtitle ,p{
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-family: 'Lora', serif;
  }
  
  #first-div-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
    max-height: 80px;
    margin-top: 20vh;
  }
  #second-div {
    background-color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  #second-div-text {
    order: 1;
    flex-grow: 1;
    min-width: 30%;
    margin-top: 25vh;
    font-size: 2.3em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    margin-bottom: 25vh;
  }
  
  #steve-jobs-quote {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

  }
  
  #second-div-image {
    order: 2;
    flex-grow: 1;
    min-width: 45%;
    align-self: flex-end;
    max-width: 500px;
  }
  
  #steve-jobs-image {
    max-width: 100%;
    box-sizing: border-box;
    float: right;
  }
  
  #third-div {
    background-color: #000;
    padding: 2vw;
  }
  
  #third-div-content {
    color: #fff;
    font-family: 'Lora', serif;
    margin-top: 5.5em;
    margin-bottom: 2em;
  }
  
  #third-div-title {
    font-size: 4em;
  }
  
  #third-div-text {
    margin-top: 2.5em;
    font-size: 2em;
  }

  footer{
  background-color: #000;
  padding-bottom: 20px;
  }
  